/* Baseline mobile */

.header {
    display: flex;
    align-items: center;

    padding: 20px 0 10px 0;
    margin-bottom: 30px;
}

.logo {
    max-width: 130px;
}

#main-nav-links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;

    font-size: 14px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    border: none;
    cursor: pointer;
    font-size: 14px;
    width: 100px;
    margin-right: 5px;
    background-color: white;
}

.dropdown i {
    padding-left: 10px;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    width: 100%;
}

.link-button {
    display: inline-block;
    padding: 10px 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    cursor: pointer;
}


/* Styles for desktop devices (768px and above) */
@media (min-width: 768px) {

    .header {
        padding: 30px 0 20px 0;
    }

    .logo {
        max-width: 200px;
    }

    .dropbtn {
        font-size: 18px;
        margin-right: 20px;
    }    

    .dropdown i {
        padding-left: 8px;
    }

    .link-button {
        padding: 10px 20px 10px 20px;
        margin: 5px;
        font-size: 16px;
    }

}